.DS_Store
node_modules
/ui/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
api/logs/sma_app_*
local_files/*
api/temp/*
api/temp/test_file.txt
api/logs/*
api/local_uploads/*
api/logs/e_app_*.log*
dev/output/* 